* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.go-beack {
  position: absolute;
}

.container {
  width: 95vw;
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  box-sizing: border-box;
  background-color: #a86060;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;

  border: 2px solid;
  border-color: #3498db;
  border-radius: 0.6em;

  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 20px 40px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.btn[disabled='true'] {
  opacity: 0.5;
  background-color: #3498db;
}

.btn[disabled='true']:hover {
  box-shadow: none;
  background-color: #3498db;
}

.inputs {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 5px;
}

.timer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.field {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field > span {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.field:not(:last-child) {
  margin-right: 10px;
}

.magic {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.text-magic {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

#datetime-picker {
  padding: 5px;
  margin-right: 10px;
  width: 180px;
  height: 30px;
  font-size: 20px;
  box-shadow: -2px -1px 8px -3px rgba(34, 60, 80, 0.49);
}

.inputs > button {
  color: #000000;
  background-color: #fcb5a8;
  border: #fcb5a8;
  border-radius: 8%;
  width: 80px;
  font-size: 18px;
  transition: all 150ms ease-in-out;
  box-shadow: -2px -1px 8px -3px rgba(34, 60, 80, 0.49);
}

.inputs > button:hover {
  background-color: #d82a0b;
  color: #ffffff;
  cursor: pointer;
}

.inputs > button[disabled] {
  background-color: #b1b1b1;
  color: #4e4e4e;
  box-shadow: none;
}

.timer-card {
  background-color: rgb(252, 252, 252);
  padding: 30px 100px 60px;
  margin: 75px 230px 20px;
  border-radius: 7px;
  box-shadow: 2px 2px 15px -6px rgba(34, 60, 80, 0.49);
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* align-items: center; */
}

.form > label {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.form > label > span:not(:last-child) {
  width: 115px;
  margin-right: 10px;
}

.form > button {
  width: 115px;
  margin-left: auto;
  margin-right: auto;

  background-color: #3498db;
  color: #fff;
  transition: all 150ms ease-in-out;

  border: 2px solid;
  border-color: #3498db;
  border-radius: 4px;

  cursor: pointer;

  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.form > button:hover,
.form > button:focus {
  background-color: #115380;
}
